.main {
  padding: 70px 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.input {
  height: 40px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.notfound {
  color: #fff;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .main {
    padding: 80px 50px;
  }

  .container {
    gap: 20px;
  }

  .input {
    width: 80%;
    font-size: 18px;
  }

  .notfound {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px){
  .container {
    justify-content: space-between;
  }

  .container::after {
    content: "";
    flex: auto;
  }

  .input {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .main {
    padding: 90px 50px;
  }

  .input {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    width: 30%;
  }
}