.nav {
  display: flex;
  position: absolute;
  width: 100%;
}

.link {
  color: #3D3D3D;
  background-color: #cdb373;
  padding: 8px;
  flex-grow: 1;
  text-align: center;
}

.link:hover {
  background-color: #e5d7b3;
}

.activeNavItem {
  background-color: #917223;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .nav {
    padding: 10px;
    gap: 20px;
  }

  .link {
    padding: 10px;
    border-radius: 2px;
    flex-grow: 0;
  }
}
